h1,
h2,
h3,
h4,
h5,
h6 {
	color: #766767;
	text-align: center;
	font-family: Times;

}

section.hero {
	background: #F6E8E8
	width: 100%;
	height: 100vh;
	position: relative;
	background: url("../images/couple.jpg") center center;
	background-size: cover;
}
    
header.hero nav {
	color: #766767;
	display: flex;
	position: relative;
	z-index: 1;
}

header.hero nav .brand {
	flex: 30%;
}

header.hero nav ul {
	flex: 70%;
	list-style: none;
	display: flex;
}

header.hero nav ul li a {
	padding: 1rem 3rem;
	color: #766767;
	text-decoration: none;
	font-weight: bold;
	font-family: Times;
	font-size: 20px;
	position: relative;
	top: 13px;
	left: 200px;
}

header.hero .cta {
	position: relative;
	z-index: 1;
}

header.hero h1,
header.hero p {
	color: #766767;
}

header.hero h1 {
	font-size: 20px
}

header.hero .btn {
	background: #F6E8E8;
	color: #766767;
	font-size: 20px;
	font-weight: bold;
	font-family: Times; 
	line-height: 10px;
	padding: 1rem 3rem;
	text-decoration: none;
	border-radius: 30px;
	position: relative;
	top: 330px;
	left: 490px;
}



section.aboutuscontent img {
	max-width: 400px;
	margin-left: 70px;
}

section.aboutusparagraph {
	color: #766767;
	font-family: Times;
	font-size: 20px;
	text-align: center;
	max-width: 500px;
	margin-left: 70px;
	line-height: 2em;
	padding: 5px;
	background-color: white;
	transform: translate(100%, -130%);
}

section.productscontent img {
	max-width: 400px;
	margin-left: 70px;
}

section.productsparagraph {
	color: #766767;
	font-family: Times;
	font-size: 20px;
	text-align: center;
	max-width: 500px;
	margin-left: 70px;
	line-height: 2em;
	padding: 5px;
	background-color: white;
	transform: translate(105%, -104%);
}

section.blogcontent img {
	max-width: 400px;
	margin-left: 70px;
}

section.blogparagraph {
	color: #766767;
	font-family: Times;
	font-size: 20px;
	text-align: center;
	max-width: 500px;
	margin-left: 70px;
	line-height: 2em;
	padding: 5px;
	background-color: white;
	transform: translate(100%, -130%);
}

section.vendor img {
	width: 230px;
	height: 230px;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-210%, 200%);
	
}

section.product img {
	width: 230px;
	height: 230px;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 200%);
}

section.registry img {
	width: 230px;
	height: 230px;
    top: 50%;
    left: 50%;
    transform: translate(390%, 5%);

}

div.imgdescription {
	color: #766767;
	font-family: Times;
	font-size: 20px;
	font-weight: bold;
	list-style: none;
	position: relative;
	text-align: left;
}





	

@media screen and (max-width: 480px) {
	header.hero nav {
		display: block;
	}

 header.hero nav .brand img {
	max-width: 100%;
    }

 header.hero nav ul {
	margin: 0;
	flex: none;
	display: block;
	padding: 0;
    }

 header.hero nav ul li a {
	padding: 1rem 0.4rem;
	font-size: 12px;
	font-weight: bold;
}

div.tagline {
	text-align: center;
	
}

div.tagline h1 {
	color: #766767;
	font-size: 80px;
	position: relative;
	left: 100px;

}




}